@charset "utf-8";

#wrap,
body,
html {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.clearfix {
  display: block;
  clear: both;
  content: "";
}

#visual {
  width: 100%;
  height: 117px;
  margin-top: 60px;
}

.visual {
  width: 100%;
  height: 117px;
  background: url(../img/sub3_visual.jpg) no-repeat center/cover;
}

.visual>p {
  top: 0px;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.visual .underline {
  margin: 0 auto;
}

.underline {
  width: 300px;
  height: 1px;
  margin-top: -8px;
  background: #fff;
}

#visual .category {
  margin-top: 10px;
}

.category {
  width: 115px;
  height: 45px;
  margin: 0 auto;
}

.event,
.eventend {
  display: inline-block;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 12.5px;
  transition: .2s;
}

.event:hover,
.eventend:hover {
  background: #e1e1e1;
}

.event {
  margin-right: 22px;
}

.category img {
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
}

.category p {
  display: none;
}

#event {
  height: 1930px;
  background: #edf1f5;
}

.event_cont {
  position: relative;
  top: 50px;
}

#event_title1 {
  text-align: center;
}

#event_title1 span {
  font-size: 2.5em;
  font-weight: 600;
}

.under_line {
  width: 100px;
  height: 2px;
  margin: 0 auto;
  margin-top: 5px;
  background: #000;
}

#event .conts {
  margin-top: 30px;
}

.conts {
  margin: 0 auto;
  max-width: 375px;
}

.conts img {
  transition: 0.3s;
}

.conts img:hover {
  filter: brightness(.9);
}

.cont1 {
  margin-left: 25px;
}

.e-1,
.e-2,
.e-3,
.e-4,
.e-5,
.e-6,
.e-7,
.e-8,
.e-9,
.e-10,
.e-11,
.e-12 {
  display: inline-block;
  overflow: hidden;
  width: 157.5px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px -5px #333;
}

.conts>div>div {
  margin-bottom: 30px;
}

.cont1 img {
  width: 100%;
}

.textbox {
  height: 60px;
  background: #fff;
}

.textbox span {
  display: block;
  font-weight: 500;
  text-align: center;
}

.textbox span:nth-child(1) {
  position: relative;
  top: 11px;
  margin-bottom: 17px;
  font-size: 1.2em;
}

.textbox span:nth-child(2) {
  font-size: 1em;
}

.line {
  width: 345px;
  height: 1px;
  margin-top: 20px;
  margin-left: 50%;
  background: #000;
  transform: translateX(-50%);
}

#event_title2 {
  margin-top: 40px;
  text-align: center;
}

#event_title2 span {
  font-size: 2.5em;
  font-weight: 600;
}

#event_title2 .under_line {
  width: 125px;
}

table {
  width: 325px;
  height: 150px;
  margin: 0 auto;
  color: #000;
  text-align: center;
  border-collapse: collapse;
  box-shadow: 2px 2px 10px -5px #333;
}

tr {
  border-bottom: 1px solid #edf1f5;
}

th {
  background: #e3e4ec;
  font-size: 1.1em;
}

td {
  background: #fff;
  font-size: 1em;
}

table a:hover {
  border-bottom: 1px solid #000;
}

/* mobile 375 end */


/* tablet 768 */
@media screen and (min-width:768px) {
  #visual {
    height: 240px;
    margin-top: 80px;
  }

  .visual {
    height: 240px;
  }

  .visual>p {
    top: 40px;
    font-size: 3.5em;
  }

  .underline {
    position: relative;
    top: 60px;
    width: 500px;
  }

  #visual .category {
    margin-top: 75px;
  }

  .category {
    left: 0;
    width: 235px;
    height: 100px;
  }

  .event,
  .eventend {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }

  .event {
    margin-right: 32px;
  }

  .category img {
    top: 35px;
    width: 38px;
  }

  .category p {
    display: block;
    position: absolute;
    top: 255px;
    font-size: 1.6em;
    font-weight: 500;
    text-align: center;
  }

  .event p {
    top: 50px;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .eventend p {
    top: 50px;
    margin-left: 13px;
  }

  #event {
    height: 2207px;
  }

  .products_cont {
    top: 80px;
  }

  #event_title1 span {
    font-size: 3em;
    font-weight: 600;
  }

  .under_line {
    width: 100px;
    height: 3px;
  }

  #event .conts {
    margin-top: 60px;
  }

  .conts {
    max-width: 768px;
  }

  .cont1 {
    margin-left: 28px;
  }

  .e-1,
  .e-2,
  .e-3,
  .e-4,
  .e-5,
  .e-6,
  .e-7,
  .e-8,
  .e-9,
  .e-10,
  .e-11,
  .e-12 {
    width: 223px;
    margin-right: 20px;
  }

  .conts>div>div {
    margin-bottom: 60px;
  }

  .textbox {
    height: 80px;
  }

  .textbox span:nth-child(1) {
    top: 15px;
    margin-bottom: 25px;
    font-size: 1.6em;
  }

  .textbox span:nth-child(2) {
    font-size: 1.4em;
  }

  .line {
    width: 708px;
  }

  #event_title2 {
    margin-top: 80px;
  }

  #event_title2 span {
    font-size: 3em;
  }

  #event_title2 .under_line {
    width: 150px;
  }

  table {
    width: 708px;
    height: 300px;
  }

  th {
    font-size: 2em;
  }

  td {
    font-size: 1.8em;
  }
}

/* tablet 768 end */


/* tablet 1024 */
@media screen and (min-width:1024px) {
  #visual {
    height: 320px;
    margin-top: 90px;
  }

  .visual {
    height: 320px;
  }

  .visual>p {
    top: 70px;
    font-size: 4em;
  }

  .underline {
    top: 90px;
    width: 800px;
  }

  #visual .category {
    margin-top: 110px;
  }

  .category {
    width: 360px;
    height: 130px;
  }

  .event,
  .eventend {
    width: 130px;
    height: 130px;
    border-radius: 30px;
  }

  .event {
    margin-right: 97px;
  }

  .category img {
    top: 45px;
    width: 46px;
  }

  .category p {
    position: relative;
    top: 20px;
    font-size: 2em;
  }

  .eventend p {
    margin-left: 5px;
  }

  #event {
    height: 2003px;
  }

  .event_cont {
    top: 100px;
  }

  #event_title1 span {
    font-size: 3.6em;
  }

  #event .conts {
    margin-top: 80px;
  }

  .conts {
    max-width: 1024px;
  }

  .cont1 {
    margin-left: 50px;
  }

  .e-1,
  .e-2,
  .e-3,
  .e-4,
  .e-5,
  .e-6,
  .e-7,
  .e-8,
  .e-9,
  .e-10,
  .e-11,
  .e-12 {
    width: 216px;
  }

  .conts>div>div {
    margin-bottom: 80px;
  }

  .textbox {
    height: 100px;
  }

  .textbox span {
    font-size: 1.8em;
  }

  .textbox span:nth-child(1) {
    top: 20px;
    margin-bottom: 35px;
    font-size: 1.8em;
  }

  .textbox span:nth-child(2) {
    font-size: 1.4em;
  }

  .line {
    width: 924px;
  }

  #event_title2 {
    margin-top: 100px;
  }

  #event_title2 span {
    font-size: 3.6em;
  }

  #event_title2 .under_line {
    width: 180px;
  }

  table {
    width: 924px;
    height: 250px;
  }

  th {
    font-size: 2.4em;
  }

  td {
    font-size: 2em;
  }
}

/* tablet 1024 end */


/* tablet 1920 */
@media screen and (min-width:1810px) {
  #visual {
    height: 600px;
    margin-top: 100px;
  }

  .visual {
    height: 600px;
  }

  .visual>p {
    top: 180px;
    font-size: 6em;
    transform: translateX(-50%);
  }

  .underline {
    top: 220px;
    width: 1200px;
  }

  #visual .category {
    margin-top: 270px;
  }

  .category {
    width: 560px;
    height: 210px;
  }

  .event,
  .eventend {
    width: 210px;
    height: 210px;
    border-radius: 40px;
  }

  .event {
    margin-right: 137px;
  }

  .category img {
    top: 76px;
    width: 84px;
  }

  .category p {
    position: relative;
    top: 50px;
    font-size: 3em;
  }

  .event p {
    left: 0px;
  }

  .eventend p {
    left: 0px;
  }

  #event {
    height: 3287px;
  }

  .event_cont {
    top: 150px;
  }

  #event_title1 span {
    font-size: 5.4em;
  }

  .under_line {
    width: 170px;
  }

  #event .conts {
    margin-top: 100px;
  }

  .conts {
    max-width: 1810px;
  }

  .cont1 {
    margin-left: 45px;
  }

  .e-1,
  .e-2,
  .e-3,
  .e-4,
  .e-5,
  .e-6,
  .e-7,
  .e-8,
  .e-9,
  .e-10,
  .e-11,
  .e-12 {
    width: 408px;
    margin-right: 30px;
  }

  .conts>div>div {
    margin-bottom: 100px;
  }

  .textbox {
    height: 150px;
  }

  .textbox span:nth-child(1) {
    top: 35px;
    margin-bottom: 55px;
    font-size: 3em;
  }

  .textbox span:nth-child(2) {
    font-size: 2.8em;
  }

  .line {
    width: 1792px;
    margin-top: 50px;
  }

  #event_title2 {
    margin-top: 100px;
  }

  #event_title2 span {
    font-size: 5.4em;
  }

  #event_title2 .under_line {
    width: 280px;
  }

  table {
    width: 1720px;
    height: 500px;
  }

  th {
    font-size: 4em;
  }

  td {
    font-size: 3.6em;
  }
}

/* pc 1920 end */